<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HL7ServerTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientCode" value="" />
    <add key="ClientName" value="" />
    <add key="ClientEmail" value="" />
    <add key="LicenseKey" value="" />
    <add key="IntervalForDownload" value="20" />
    <add key="WsdlUrl" value="" />
    <add key="ServerFolder" value="\Outgoing" />
    <add key="FolderDownload" value="" />
    <add key="BlowfishKey" value="blowfish" />
    <add key="TransferSpeed" value="16" />
    <add key="PrinterPath" value="" />
    <add key="PrintedExtFile" value="" />
    <add key="IsSettingInfo" value="0" />
    <add key="NumberOfCopies" value="1" />
    <add key="AcrobatExe" value="" />
    <add key="Schedule" value="Mon,Tue,Wed,Thu,Fri|8,0,0|17,0,0" />
  </appSettings>
  <userSettings>
    <HL7ServerTransfer.Properties.Settings>
      <setting name="boolStartup" serializeAs="String">
        <value>False</value>
      </setting>
    </HL7ServerTransfer.Properties.Settings>
  </userSettings>
</configuration>