<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--Begin:: setting form-->
    <add key="DashboardInterval" value="40"/>
    <add key="ExecuteInterval" value="20"/>
    <add key="TransferSpeed" value="16"/>
    <add key="WsdlUrl" value=""/>    
    <add key="PauseLog" value="0"/>
    <add key="BlowfishKey" value="Blowfish"/>
    <!--End:: setting form-->
    <add key="strConnectionString" value="Data Source=192.168.1.2;Initial Catalog=wahooV2;User ID = sa; Password =;" />
    <!--<add key="strConnectionString" value="Data Source=PC-2\SQLEXPRESS;Initial Catalog=wahooV2;Integrated Security=True" />-->
    <add key="MaxNumberRowofPage" value="500"/>
  </appSettings>
  
  <!--Begin:: Log4net-->
  
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="WahooV2FileLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!--End:: Log4net-->
</configuration>